<todo-side-nav
  [sidenavTemplateRef]="navContent"
  [direction]="'left'"
  [navWidth]="390"
  [duration]="0.5"
></todo-side-nav>

<div class="navbar bg-primary text-primary-content">
  <div class="flex-none">
    <button class="btn btn-square btn-ghost" (click)="toggleSideNav()">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        class="inline-block w-5 h-5 stroke-current"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 6h16M4 12h16M4 18h16"
        ></path>
      </svg>
    </button>
  </div>
  <div class="flex-1">
    <a class="btn btn-ghost normal-case text-xl">{{ currentList$()?.name }}</a>
  </div>
  <div class="flex-none gap-2">
    <button class="btn btn-ghost" (click)="switchTheme()">
      <i class="fa-solid fa-palette"></i>
    </button>
    <div class="dropdown dropdown-end">
      <label tabindex="0" class="btn btn-ghost btn-circle avatar">
        <div class="w-10 rounded-full">
          <img src="https://xsgames.co/randomusers/avatar.php?g=pixel" />
        </div>
      </label>
      <ul
        tabindex="0"
        class="mt-3 z-[1] p-2 shadow menu menu-sm dropdown-content bg-base-100 rounded-box w-52"
      >
        <li (click)="logout()"><a>Logout</a></li>
      </ul>
    </div>
  </div>
</div>
<div
  class="flex flex-col items-center justify-center mt-5 px-5 text-primary-content"
>
  <div class="sticky top-5 flex flex-row mb-5">
    <div class="form-control">
      <div class="input-group">
        <input
          #newTodoContent
          type="text"
          placeholder="Enter your next todo..."
          class="input input-primary"
          (keyup.enter)="
            onItemCreated(newTodoContent.value); newTodoContent.value = ''
          "
        />
        <button
          class="btn btn-square btn-primary"
          (click)="
            onItemCreated(newTodoContent.value); newTodoContent.value = ''
          "
        >
          <i class="fa-solid fa-plus"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="flex flex-col items-start justify-start">
    <div
      *ngFor="let item of items$()"
      class="flex flex-row items-center mb-2 p-3 bg-secondary rounded-lg w-full justify-between"
    >
      <ng-container *ngIf="!isItemInEditMode(item); else editItemModeTemplate">
        <div class="flex flex-row justify-start items-center">
          <input
          type="checkbox"
          class="checkbox checkbox-primary"
          [checked]="item.isCompleted"
          (change)="onItemIsCompletedChanged(item, $event)"
        />
        <div class="flex flex-col ml-3">
          <span class="text-lg text-secondary-content font-semibold">{{ item.content }}</span>
          <span>{{ item.note }}</span>
          <!-- <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut, totam. Perferendis accusantium ea tempora consequatur, eveniet delectus, nesciunt quae repellendus voluptates, corporis porro molestiae dolor reprehenderit dolores odio quod consequuntur.</span> -->
        </div>
        </div>
        
        <div class="flex flex-row items-center text-secondary-content justify-center ml-5">
          <button class="btn btn-ghost" (click)="switchItemToEditMode(item)">
            <i class="fa-solid fa-edit"></i>
          </button>
          <button class="btn btn-ghost" (click)="onItemDeleted(item)">
            <i class="fa-solid fa-trash"></i>
          </button>
        </div>
      </ng-container>
      <ng-template #editItemModeTemplate>
        <div class="flex flex-row justify-start items-center">
          <input
          type="checkbox"
          class="checkbox checkbox-primary"
          [checked]="item.isCompleted"
          (change)="onItemIsCompletedChanged(item, $event)"
        />
        <div class="flex flex-col ml-3">
          <span class="text-lg font-semibold mb-2">Content</span>
          <input
            class="input input-primary text-lg font-semibold mb-1"
            [(ngModel)]="item.content"
          />
          <span class="text-lg font-semibold mb-2">Note</span>
          <textarea
            class="textarea textarea-primary mb-1"
            [(ngModel)]="item.note"
          ></textarea>
        </div>
        </div>
        
        <div class="flex flex-row items-center justify-center ml-5">
          <button class="btn btn-ghost" (click)="saveItemChanges(item)">
            <i class="fa-solid fa-save"></i>
          </button>
        </div>
      </ng-template>
    </div>
  </div>
</div>
<ng-template #navContent>
  <div class="flex flex-row mb-5 sticky top-2">
    <div class="form-control">
      <div class="input-group">
        <input
          #newTodoListContent
          type="text"
          placeholder="Name for your next list..."
          class="input input-secondary"
          (keyup.enter)="
            onListCreated(newTodoListContent.value);
            newTodoListContent.value = ''
          "
        />
        <button
          class="btn btn-square btn-secondary"
          (click)="
            onListCreated(newTodoListContent.value);
            newTodoListContent.value = ''
          "
        >
          <i class="fa-solid fa-plus"></i>
        </button>
      </div>
    </div>
  </div>
  <span class="text-lg font-bold text-secondary-content">Lists</span>
  <ng-container *ngIf="lists$()?.length ?? 0 > 0; else emptyListsTemplate">
    <div
    *ngFor="let list of lists$()"
    class="flex flex-row items-center justify-between w-full text-secondary-content"
  >
    <ng-container *ngIf="!isListInEditMode(list); else editListModeTemplate">
      <div
        class="flex items-center cursor-pointer"
        (click)="onListSelected(list)"
      >
        <i class="fa-solid fa-list fa-2x"></i>
        <span class="ml-3 text-lg">{{ list?.name }}</span>
      </div>
      <div class="flex flex-row">
        <button class="btn btn-ghost" (click)="onCreateTemplateFromList(list)">
          <i class="fa-solid fa-rectangle-list"></i>
        </button>
        <button class="btn btn-ghost" (click)="switchListToEditMode(list)">
          <i class="fa-solid fa-edit"></i>
        </button>
        <button class="btn btn-ghost" (click)="onListDeleted(list)">
          <i class="fa-solid fa-trash"></i>
        </button>
      </div>
    </ng-container>
    <ng-template #editListModeTemplate>
      <div
        class="flex items-center cursor-pointer"
      >
        <i class="fa-solid fa-list fa-2x"></i>
        <input class="input input-secondary ml-3 text-lg" [(ngModel)]="list.name" (keyup.enter)="saveListChanges(list)" />
      </div>
      <div class="flex flex-row">
        <button class="btn btn-ghost" (click)="saveListChanges(list)">
          <i class="fa-solid fa-save"></i>
        </button>
      </div>
    </ng-template>
  </div>
  </ng-container>
  <ng-template #emptyListsTemplate>
    <div class="flex text-secondary-content">
      It's lonely in here. Add a list above or create from a template below.
    </div>
  </ng-template>
  <span class="text-lg font-bold text-secondary-content">Templates</span>
  <ng-container *ngIf="templates$()?.length ?? 0 > 0; else emptyTemplatesTemplate">
    <div
    *ngFor="let template of templates$()"
    class="flex flex-row items-center justify-between w-full text-secondary-content"
  >
    <ng-container *ngIf="!isTemplateInEditMode(template); else editTemplateModeTemplate">
      <div
        class="flex items-center cursor-pointer"
      >
        <i class="fa-solid fa-rectangle-list fa-2x"></i>
        <span class="ml-3 text-lg">{{ template?.name }}</span>
      </div>
      <div class="flex flex-row">
        <button class="btn btn-ghost" (click)="createListFromTemplate(template)">
          <i class="fa-solid fa-list"></i>
        </button>
        <button class="btn btn-ghost" (click)="switchTemplateToEditMode(template)">
          <i class="fa-solid fa-edit"></i>
        </button>
        <button class="btn btn-ghost" (click)="onTemplateDeleted(template)">
          <i class="fa-solid fa-trash"></i>
        </button>
      </div>
    </ng-container>
    <ng-template #editTemplateModeTemplate>
      <div
        class="flex items-center cursor-pointer"
      >
        <i class="fa-solid fa-list fa-2x"></i>
        <input class="input input-secondary ml-3 text-lg" [(ngModel)]="template.name" (keyup.enter)="saveTemplateChanges(template)" />
      </div>
      <div class="flex flex-row">
        <button class="btn btn-ghost" (click)="saveTemplateChanges(template)">
          <i class="fa-solid fa-save"></i>
        </button>
      </div>
    </ng-template>
  </div>
  </ng-container>
  <ng-template #emptyTemplatesTemplate>
    <div class="flex text-secondary-content">
      You don't have any templates. Create one from a list above.
    </div>
  </ng-template>
</ng-template>
