<div class="h-screen flex items-center justify-center flex-col px-5">
  <h1 class="text-2xl text-primary-content">Login</h1>
  <form [formGroup]="f" (ngSubmit)="onSubmit()">
    <input
      type="text"
      class="input input-bordered input-primary w-full mt-2"
      [class.input-error]="
        f.get('email')!.invalid &&
        (f.get('email')!.dirty || f.get('email')!.touched) &&
        (f.get('email')!.hasError('required') ||
          f.get('email')!.hasError('email'))
      "
      formControlName="email"
      placeholder="Email"
    />
    <input
      type="password"
      class="input input-bordered input-primary w-full mt-2"
      [class.input-error]="
        f.get('password')!.invalid &&
        (f.get('password')!.dirty || f.get('password')!.touched) &&
        f.get('password')!.hasError('required')
      "
      formControlName="password"
      placeholder="Password"
    />
    <label class="label cursor-pointer">
      <span class="label-text">Remember me</span>
      <input
        type="checkbox"
        formControlName="rememberMe"
        class="toggle toggle-primary mt-2"
      />
    </label>
    <button class="btn btn-primary w-full mt-2" [disabled]="f.invalid">
      Login
    </button>
    <button (click)="redirectToRegister()" class="btn btn-primary w-full mt-2">Register</button>
  </form>
  <span *ngIf="error" class="text-error mt-5">{{error}}</span>
</div>
