<div class="h-100 w-full flex items-center justify-center font-sans">
	<div class="bg-neutral-200 rounded shadow p-6 m-4 w-full lg:w-3/4 lg:max-w-lg">
        <div class="mb-4">
            <h1 class="text-gray-950 font-bold text-xl">Todo List</h1>
            <div class="flex mt-4">
                <input class="shadow-lg appearance-none border rounded w-full py-2 px-3 mr-4 hover:border-neutral-500 focus-visible:border-neutral-500" placeholder="Add Todo">
                <button class="flex-no-shrink p-2 border-2 rounded border-neutral-600 text-neutral-600 focus:text-neutral-700 focus:border-neutral-700 hover:text-neutral-800 hover:border-neutral-800">Add</button>
            </div>
        </div>
        <div>
            <div class="flex mb-4 items-center">
                <p class="w-full text-gray-950">Add another component to Tailwind Components</p>
                <button class="flex-no-shrink p-2 ml-4 mr-2 border-2 rounded border-neutral-600 text-neutral-600 focus:text-neutral-700 focus:border-neutral-700 hover:text-neutral-800 hover:border-neutral-800">Done</button>
                <button class="flex-no-shrink p-2 ml-2 border-2 rounded border-neutral-600 text-neutral-600 focus:text-neutral-700 focus:border-neutral-700 hover:text-neutral-800 hover:border-neutral-800">Remove</button>
            </div>
          	<div class="flex mb-4 items-center">
                <p class="w-full line-through text-green">Submit Todo App Component to Tailwind Components</p>
                <button class="flex-no-shrink p-2 ml-4 mr-2 border-2 rounded border-neutral-600 text-neutral-600 focus:text-neutral-700 focus:border-neutral-700 hover:text-neutral-800 hover:border-neutral-800">Not Done</button>
                <button class="flex-no-shrink p-2 ml-2 border-2 rounded border-neutral-600 text-neutral-600 focus:text-neutral-700 focus:border-neutral-700 hover:text-neutral-800 hover:border-neutral-800">Remove</button>
            </div>
        </div>
    </div>
</div>